
body {
    background: lightgoldenrodyellow;
}


h1, p {
    color: orangered;
}

.navbar {
    background-color: darkred !important;
}


.navbar ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0.5em 0;
    margin: 0;
}


.navbar li {
    position: relative;
}


.navbar a {
    color: #f5f5f5;
    text-decoration: none;
    padding: 0.5em 1em;
    display: block;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.navbar a:hover {
    background-color: #444;
}

.dropdown-menu {
    display: none; 
    position: absolute;
    background-color: #333;
    list-style: none;
    top: 100%;
    left: 0;
    padding: 0;
    margin: 0;
    min-width: 10em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    flex-direction: column;
}


.dropdown-menu a {
    border-bottom: 1px solid #444;
    color: white; 
    padding: 0.5em;
    font-size: 0.9em;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu a:last-child {
    border-bottom: none;
}
